<div class="container-grid">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/humusDeMinhoca.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 9,00</h4>
                <h5 class="card-title">Terral Húmus de Minhoca 2kg</h5>
                <p class="card-text">O húmus de minhocas é uma substância que confere uma nutrição de qualidade para as
                    plantas, além de prevenir algumas doenças. Ele possui diversos nutrientes, tais como nitrogênio,
                    fósforo e potássio, além de alguns hormônios.</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/esterco.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 8,00</h4>
                <h5 class="card-title"> Terral Esterco 2kg</h5>
                <p class="card-text">O Terral Esterco passa por um rigoroso processo de compostagem, esterilização,
                    moagem e peneiramento, tornando-se isento de pragas e ervas daninhas e sem cheiro.
                    Além de enriquecer e melhorar a estrutura fí­sica, química e biológica do solo, aumenta a capacidade
                    de retenção de umidade. </p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/suculentasPro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 12,00</h4>
                <h5 class="card-title"> Terral suculentas Pró 3l</h5>
                <p class="card-text">
                    Com matérias-primas nobres, o produto não compacta, melhora a drenagem das raízes e já vem com adubo
                    de liberação lenta, que nutre e hidrata as plantas de acordo com suas necessidades.
                    Contêm polímeros que retém água e a disponibiliza para as plantas somente no momento da necessidade.
                    Sua tecnologia faz com que as raízes não fiquem em contato com a água, evitando o apodrecimento e o
                    aparecimento de fungos. O resultado é uma suculenta nutrida e saudável! </p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/terralOrquideas.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 12,00</h4>
                <h5 class="card-title">Terral Orquídeas</h5>
                <p class="card-text">O TERRAL ORQUÍDEAS foi desenvolvido com o que há de melhor para orquídeas - chip e
                    fibra de coco. Composto ainda por biobric torrado, o produto é leve e aerado, exatamente como as
                    orquídeas gostam.
                    Pronto para uso e com a embalagem pequena chamativa na gôndola, traz comodidade e praticidade no seu
                    manuseio.
                    - Com fibra e chip de coco;
                    - Com madeiras nobres;</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/vasoBerlin__2_-removebg-preview.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 27,00</h4>
                <h5 class="card-title">Cachepô Cerâmica Berlim Marrom</h5>
                <p class="card-text">Inspirada na cidade de BERLIM, essa coleção traz uma visão do
                    movimento urbano. Com cores sóbrias que remetem aos tons encontrados
                    na arquitetura da cidade alemã, os
                    cachepôs BERLIM possuem um design arredondado que confere um ar
                    elegante e versátil as peças. Sua textura áspera, reforça ainda o conceito
                    dos edifícios da cidade e oferece ao cliente a experiência ao toque.</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/decore4pes.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 180,00</h4>
                <h5 class="card-title">Vaso Decore</h5>
                <p class="card-text">Misturando a resistência e qualidade dos vasos da Japi, textura impecável e o
                    requinte dos pezinhos de madeira, os novos vasos Decore chegam no formato cilíndrico em duas
                    opções de tamanho. A linha decore é super versátil, combinando com todos os tipos de ambientes e
                    composições.</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/29739.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 140,00</h4>
                <h5 class="card-title">Vaso Decore Chumbo</h5>
                <p class="card-text"> Vaso
                    Redondo Decore 33. Os vasos desta linha são pensados para ambientes internos e
                    contam com acessórios em materiais especiais, como madeira e aço.
                    O Vaso Redondo Decore 33 traz em sua composição a mistura desses materiais, forte
                    tendência no design internacional. Seus pés em madeira dão um charme extra, além de
                    permitir a composição com plantas pendentes, como samambaias, jiboias, lambaris,
                    ivys, etc.</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/conicoMordenoDuo.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 125,00</h4>
                <h5 class="card-title">Vaso Duo</h5>
                <p class="card-text">Já pensou unir vaso e prato em um único produto? O resultado dessa união é a Linha
                    Moderno DUO, que além de apresentar o famoso design da Linha Moderna não necessita
                    de prato, pois já possui reservatório de água embutido.
                    Desenhado para deixar o reservatório discreto, sem alterar a forma. O Vaso DUO é uma opção
                    inteligente, ideal para àqueles que buscam funcionalidade e beleza em um só produto.</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/vasoHannover-removebg-preview (1).png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 27,00</h4>
                <h5 class="card-title">Cachepô Cerâmica Hanover</h5>
                <p class="card-text">Com uma paleta de cores única e exótica, a nova coleção de cachepôs
                    cerâmicos HANOVER teve sua inspiração nas construções em estilo
                    enxaimel da cidade alemã.
                    Possuindo características singulares, as construções em estilo enxaimel
                    são a paisagem predominante da cidade de Hanover, e além de encantar
                    os turistas, é inspiração para os amantes da arquitetura e decoração.</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/BerlimChumbo.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 27,00</h4>
                <h5 class="card-title">Cachepô Cerâmica Berlim</h5>
                <p class="card-text">Inspirada na cidade de BERLIM, essa coleção traz uma visão do
                    movimento urbano. Com cores sóbrias que remetem aos tons encontrados
                    na arquitetura da cidade alemã, os
                    cachepôs BERLIM possuem um design arredondado que confere um ar
                    elegante e versátil as peças. Sua textura áspera, reforça ainda o conceito
                    dos edifícios da cidade e oferece ao cliente a experiência ao toque.</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/atenas.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 115,00</h4>
                <h5 class="card-title">Vaso Cilíndrico Atenas 36</h5>
                <p class="card-text">Inspirada nas colunas gregas das construções arquitetônicas de Atenas, a nova linha
                    de vasos de Jardinagem traz um conceito clássico, exclusivo e elegante para a Coleção Japi 2021/22.
                    Disponível em três tamanhos e nas cores Off White e Chumbo, a Linha Atenas apresenta sua textura
                    canelada que remete perfeitamente os detalhes das colunas gregas e confere um aspecto mais esguio as
                    peças.</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/img/atenas44.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>R$ 135,00</h4>
                <h5 class="card-title">Vaso Cilíndrico Atenas 44</h5>
                <p class="card-text">Inspirada nas colunas gregas das construções arquitetônicas de Atenas, a nova linha
                    de vasos de Jardinagem traz um conceito clássico, exclusivo e elegante para a Coleção Japi 2021/22.
                    Disponível em três tamanhos e nas cores Off White e Chumbo, a Linha Atenas apresenta sua textura
                    canelada que remete perfeitamente os detalhes das colunas gregas e confere um aspecto mais esguio as
                    peças.</p>
                <a href="#" class="btn btn-danger">Comprar</a>
            </div>
        </div>
    </div>




</div>