<div class="banner">

    <section class="content">
        <h1>Meu Jardim</h1>
        <img src="../../../assets/img/logo.meuJardim.png">
        </section>

    <section class="section-1">
        <h2>Nossa Localização</h2>
        <div class="container-form">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d786.0858455127727!2d-40.757667603050464!3d-20.4127400364345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb9b195baf94f0b%3A0x3c2657615a2b185a!2sFloricultura%20Meu%20Jardim!5e0!3m2!1spt-BR!2sbr!4v1670926447857!5m2!1spt-BR!2sbr" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </section>
   
</div>